@import "../../scss/standard.scss";
@import "../../scss/variables.scss";

.codelang {
  margin-top: 5rem;
  display: flex;
  gap: 1rem;
  position: relative;
  li {
    list-style-type: none;
  }
  .codelang-icons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .project-management-section {
    flex: 1;
    padding-left: 5rem;
    text-align: right;
    ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    li {
      font-size: var(--fs-semi-title);
    }
  }
}
.codelang-section {
  flex: 1;
  padding-left: 5rem;
  .codelang-wrapper {
    display: flex;
    position: relative;
    justify-content: space-between;
    .codelang-names {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      li {
        font-size: var(--fs-semi-title);
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .codelang-section {
    padding-left: 1rem;
  }
}
@media screen and (max-width: 930px) {
  .codelang {
    .codelang-icons {
      position: absolute;
      height: max-content;
      flex-direction: row;
      bottom: 0;
      left: 5rem;
    }
  }
}
@media screen and (max-width: 770px) {
  .codelang {
    flex-direction: column;
    .codelang-section {
      padding: 0;
    }
    .codelang-icons {
      position: absolute;
      height: max-content;
      flex-direction: column;
      top: 0;
      right: 0;
      left: unset;
    }
    .project-management-section {
      text-align: left;
      padding: 0;
      margin-top: 2rem;
    }
  }
}
@media screen and (max-width: 360px) {
  .codelang {
    .project-management-section {
      margin-top: 12rem;
    }
  }
}
