@import "../../scss/standard.scss";
@import "../../scss/variables.scss";

.hero {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  .watermark-icon {
    z-index: -1;
    background-image: url(../../assets/code-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0rem;
    right: 0rem;
    width: 40rem;
    height: 30rem;
    img {
      width: 100%;
    }
  }
}
.hero-text {
  flex: 1;
  display: flex;
  gap: 1rem;
  margin-top: 10rem;
  ul {
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    height: max-content;
    margin-bottom: 3rem;
  }
  h2 {
    color: rgba(143, 143, 143, 0.562);
    width: max-content;
    display: flex;
    span {
      color: $primary-clr;
    }
  }
  .line {
    margin: 0.5rem 0 5rem 0;
    height: 90%;
  }
  section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;
    padding-left: 2rem;
  }
  h1 {
    span {
      @extend %linear-text;
    }
  }
}
@media screen and (min-height: 1400px) {
  .hero {
    height: max-content;
  }
}
@media screen and (max-width: 1200px) {
  .hero-text {
    section {
      padding-left: 1rem;
    }
  }
}
@media screen and (max-width: 770px) {
  .watermark-icon {
    width: 30rem !important;
    height: 20rem !important;
    top: 0 !important;
    right: 0 !important;
  }
  .hero-text {
    section {
      padding-left: 0;
    }
  }
}
@media screen and (max-width: 540px) {
  .watermark-icon {
    top: 2rem !important;
    width: 18rem !important;
    height: 15rem !important;
  }
}
