@import '../../scss/standard.scss';
@import '../../scss/variables.scss';

.projects {
    height: max-content;
    width: 100%;
    display: flex;
    gap: 1rem;
    position: relative;
    h2 {
        color: rgba(143, 143, 143, 0.562);
        width: max-content;
        display: flex;
        span {
            color: $primary-clr;
        }
    }
    .projects-title {
        color: $black-clr;
    }
    .project-line {
        flex: 1;
    }
}
.projects-container {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    gap: 2rem;
    .project-card {
        height: 20rem;
        display: flex;
        position: relative;
        gap: 1rem;
        width: 100%;
        .project-img {
            flex: 2;
        }
        figure {
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%
            }
        }
        .card-text-container {
            flex: 3;
            width: max-content;
            padding: 2rem;
            color: $white-clr;
            background-color: $black-clr;
            section {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                height: 100%;
            }
            ul {
                gap: 2rem;
                display: flex;
                margin-top: .5rem;
                padding-left: 1rem;
            }
            h2, li, p {
                color: $white-clr;
                padding: 0;
                height: max-height;
            }
        }
        .card-text-container--left {
            top: 0;
            right: -80%;
        }
    }   
}
