@import './variables.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.flex {
    display: flex;
}
.App {
    margin: 0 auto;
    padding: 0 5%;
    max-width: 1500px;
    min-height: 100vh;
}
.btn {
    width: max-content;
    padding: .5em 1em;
    background: none;
    border: none;
    border-bottom: 2px solid $white-clr;
    color: $white-clr;
    align-self: flex-end;
    margin-top: auto;
    cursor: pointer;
}
.btn--submit {
    margin-top: 2rem;
    color: $black-clr;
    border-bottom: 2px solid $primary-clr;
    align-self: flex-start;
}
.section-number {
    color: rgba(143, 143, 143, 0.562);
    width: max-content;
    display: flex;
    span {
        color: $primary-clr;
    }
}
.section-title {
    color: $black-clr;
}
h1, h2, h3, a {
    font-family: var(--ff-titles);
    color: $black-clr;
    text-decoration: none;
}
h1, h2 {
    font-size: var(--fs-title);
}
h3, a {
    font-size: var(--fs-semi-title);
}
p, li, button, input, textarea, label {
    font-family: var(--ff-text);
    font-size: var(--fs-text);
}